<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoBikeMess</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <nav>
        <img src="../public/img/Sin Fondo_Mesa de trabajo 1.png" alt=""class="logo" width="250" height="250">
        <ul>
            <li><a href="inicio.html">Inicio</a></li>
            <li><a href="tarifas.html">Tarifas</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="cobertura.html">Cobertura</a></li>
        </ul>
    </nav>
</head>
<body>
    <h1>Clientes</h1>
    
</body>
<footer>
    <img src="../public/img/Sin Fondo_Mesa de trabajo 1.png" alt=""class="logo" width="250" height="250">
    <ul>
        <li>Teléfono: +57 312 318 06 19</li>
        <li>Email: Eco.BikeMess@gmail.com</li>
        <li>Dirección: Calle 61 #17-15, Bogotá, Colombia</li>
    </ul>
</footer>

</html>