<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoBikeMess</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <nav>
        <img src="../public/img/Sin Fondo_Mesa de trabajo 1.png" alt=""class="logo" width="250" height="250">
        <ul>
            <li><a href="inicio.html">Inicio</a></li>
            <li><a href="tarifas.html">Tarifas</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="cobertura.html">Cobertura</a></li>
        </ul>
    </nav>
</head>

<body>
    <div class="fondo" >
        
        <h1>Elige como distribuir tu paquetería por la ciudad sin contaminar, nosotros lo hacemos posible con nuestro
            servicio de mensajería ecológica 🍃</h1>
    </div>

    <div class="quienes-somos">

        <div class="vision">
            <h2>visión de Eco Bike Mess</h2>
            <p>"Ser líderes en la transformación de la logística urbana mediante soluciones innovadoras y sostenibles en
                bicicleta. Aspiramos a redefinir el futuro de los envíos urbanos, combinando velocidad, eficiencia y
                responsabilidad ambiental para crear ciudades más limpias, donde cada envío sea una contribución activa
                al cuidado del medio ambiente"</p>
        </div>

        <div class="mision">
            <h2>Misión de Eco Bike Mess</h2>
            <p>Fomentar un cambio positivo en la movilidad urbana, ofreciendo un servicio de mensajería en bicicleta que
                resuelve de forma ecológica la entrega de tus paquetes y mercancías en la ciudad"</p>
        </div>
    </div>

    <div class="información">

        <div class="servicios">
            <h2>Nuestros Servicios</h2>
            <p>Ofrecemos una amplia gama de servicios de entrega en bicicleta, desde entregas exprés hasta servicios de
                mensajería personalizados, todo ello con un enfoque en la sostenibilidad y la reducción de emisiones.
            </p>
        </div>

        <div class="Entrega">
            <h2>Entrega Ecológica</h2>
            <p>En Eco BikeMess trabajamos con una conciencia ecológica: cada entrega en bicicleta es una decisión activa
                para reducir la huella de carbono urbana. Desde la optimización de rutas hasta el uso de materiales
                sostenibles, nuestro servicio no solo transporta paquetes, sino un modelo de logística responsable que
                cuida el aire que respiramos y el futuro que compartimos."</p>
        </div>
    </div>
</body>
<footer>
    <img src="../public/img/Sin Fondo_Mesa de trabajo 1.png" alt=""class="logo" width="250" height="250">
    <ul>
        <li>Teléfono: +57 312 318 06 19</li>
        <li>Email: Eco.BikeMess@gmail.com</li>
        <li>Dirección: Calle 61 #17-15, Bogotá, Colombia</li>
    </ul>
</footer>

</html>