<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoBikeMess</title>
    <script src="../public/js/scripts.js"></script>
    <link rel="stylesheet" href="../public/assets/style.css">
    <nav>
        <img src="../public/img/Sin Fondo_Mesa de trabajo 1.png" alt="" class="logo" width="250" height="250">
        <ul>
            <li><a href="inicio.html">Inicio</a></li>
            <li><a href="tarifas.html">Tarifas</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="cobertura.html">Cobertura</a></li>
        </ul>
    </nav>
</head>

<body>
    <div class="titulo">
        <h1>Nuestros Planes y Precios</h1>
    </div>

    <div class="tarifaemprendedor">
        <button id="tarifaemprendedor" onclick="mostrar1();">Tarifa Emprendedor</button>

        <div id="tarifa1">
            estoy viendo
            <button id="tarifaemprendedor" onclick="ocultar1();">menos</button>
        </div>
    </div>

        <div class="tarifaoportuna">
        <button id="tarifaoportuna" onclick="mostrar2();">Tarifa Oportuna</button>

        <div id="tarifa2">
            estoy viendo
            <button id="tarifaoportuna" onclick="ocultar2();">menos</button>
        </div>
    </div>

        <div class="retornopaquetes">
        <button id="retornopaquetes" onclick="mostrar3();">Retorno de Paquetes</button>

        <div id="tarifa3">
            estoy viendo
            <button id="retornopaquetes" onclick="ocultar3();">menos</button>
        </div>
    </div>

        <div class="canceladosDevoluciones">
        <button id="canceladosDevoluciones" onclick="mostrar4();">Servicios Cancelados y/o Devoluciones</button>

        <div id="tarifa4">
            estoy viendo
            <button id="canceladosDevoluciones" onclick="ocultar4();">menos</button>
        </div>
    </div>

        <div class="serviciopacking">
        <button id="serviciopacking" onclick="mostrar5();">Servicio de Packing</button>

        <div id="tarifa5">
            estoy viendo
            <button id="serviciopacking" onclick="ocultar5();">menos</button>
        </div>
    </div>

        <div class="tiempodeespera">
        <button id="tiempodeespera" onclick="mostrar6();">Tiempo de Espera</button>

        <div id="tarifa6">
            estoy viendo
            <button id="tiempodeespera" onclick="ocultar6();">menos</button>
        </div>
    </div>

        <div class="adicionales">
        <button id="adicionales" onclick="mostrar7();">Adicionales</button>

        <div id="tarifa7">
            estoy viendo
            <button id="adicionales" onclick="ocultar7();">menos</button>
        </div>
    </div>




</body>
<footer>
    <img src="../public/img/Sin Fondo_Mesa de trabajo 1.png" alt="" class="logo" width="250" height="250">
    <ul>
        <li>Teléfono: +57 312 318 06 19</li>
        <li>Email: Eco.BikeMess@gmail.com</li>
        <li>Dirección: Calle 61 #17-15, Bogotá, Colombia</li>
    </ul>
</footer>

</html>