body{
    background-color: #9594e9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Barra de navegacion */
div.navfondo{
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    z-index: 1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62%;
    object-fit: cover;

}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62%;
    object-fit: cover;
    background: black;
    opacity: 0.5;
    /*mix-blend-mode: overlay; */


}

.nav {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.nav img{
    width: 200px;
    height: 200px;
}

.navlista {
    list-style: none;
    display: flex;
    gap: 10px;
    
}

.navlista li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navfondo h1 {
    padding: 70px;
}


/*tener en cuenta*/
div .quienes-somos, .vision, .mision, .servicios, .entrega  {
    margin: 20px 0px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ddd0d0; 
} 

.informacion {
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ddd0d0; 
}

.quienes-somos, .informacion {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between;
    margin: 140px 0; 
    display: flex; 
    
}
.vision, .mision {
    flex: 1; 
    border-radius: 5px;
    margin:  50px;
    width: 40%;
    height: 200px;
}

.vision{
    margin-left: 200px;
}

.mision{
    margin-right: 200px;
}
.servicios, .entrega{
    flex: 1; 
    border-radius: 5px;
    margin: 50px;
    width: 38%;
    height: 200px;

    /*flex: 1;
    border-radius: 5px;
    margin: 0 10px;
    width: 48%;
    height: 200px;*/
}
.servicios {
    margin-left: 200px;
}
.entrega {
    margin-right: 200px;
}

footer {
    background-color: #444444;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: relative;
    /*position: fixed;*/
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* tarifas */

.tarifaemprendedor,.tarifaoportuna,.retornopaquetes,.canceladosDevoluciones,.serviciopacking,.tiempodeespera,.adicionales, .contraentrega {    
    background-color: #f7aef7;
    text-align: center;
    display: block;
}


#tarifa1,#tarifa2,#tarifa3,#tarifa4,#tarifa5,#tarifa6,#tarifa7, #tarifa8 {
    text-align: center;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
}



