body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

nav {
    background-color: #54a893;
    color: rgb(0, 0, 0);
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

div.fondo{
    background-color: #6799d1;
    color: rgb(0, 0, 0);
    padding: 200px 400px;
    border-radius: 5px;
    text-align: center;
    
}

/*tener en cuenta*/
div {
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid #fd0000;
    border-radius: 5px;
    background-color: #ddd0d0;
} 

.quienes-somos {
    background-color: #f7aef7;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between;
    margin: 20px 0;
    display: inline-flex
}



footer {
    background-color: #aef7f3;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    position: relative;
    /*position: fixed;*/
}


/* tarifas */

.tarifaemprendedor,.tarifaoportuna,.retornopaquetes,.canceladosDevoluciones,.serviciopacking,.tiempodeespera,.adicionales, .contraentrega {    
    background-color: #f7aef7;
    text-align: center;
    display: block;
}


#tarifa1,#tarifa2,#tarifa3,#tarifa4,#tarifa5,#tarifa6,#tarifa7, #tarifa8 {
    text-align: center;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
}



